@model Nop.Plugin.Widgets.StudentInfo.Models.StudentViewModel
@{
    Layout = "_ConfigurePlugin";
}

<div class="row " >
   <div style="display:flex;justify-content:center;align-items:center;">
        <div class="card" style="margin:10px; padding:10px; border:1px solid gray;width:600px;">
            <div class="card-header">
                <h4>@ViewBag.StudentTitle Your Informations</h4>
            </div>
            <div class="card-body">
                <form asp-controller="@ViewBag.StudentRequestController" asp-action="@ViewBag.StudentRequestAction" method="post" >

                    <div class="form-fields" style="width:100%;">
                        @Html.TextBoxFor(m => m.Id, new { @type = "hidden" })
                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Name)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "username gray-input", autofocus = "autofocus" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.Age)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Age, new { @class = "username gray-input", autofocus = "autofocus" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Age)
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.DateOfBirth)
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "username gray-input", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </div>


                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.LabelFor(m => m.MaritalStatus)
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.MaritalStatus, new SelectList(new[] { "Married", "Single" }), "Select Marital Status", new { @class = "username gray-input" })
                            </div>
                            @Html.ValidationMessageFor(m => m.MaritalStatus)
                        </div>



                    </div>
                    <div class="buttons">
                        <button type="submit" class="button-1 login-button">Submit</button>
                    </div>
                </form>
            </div>

        </div>
   </div>
</div>

    <script>
        $(function () {
            $("#DateOfBirth").datepicker();
        });
    </script>